::selection /* WebKit/Blink Browsers */
	background $Verde
	color #fff 
	text-shadow 0px 0px 5px rgba(255, 255, 255, .75)

::-moz-selection /* Gecko Browsers */
	background $Verde
	color #fff
	text-shadow 0px 0px 5px rgba(255, 255, 255, .75)
	

::-webkit-file-upload-button
	cursor pointer

a
	color $Verde
	transitionBase(0.3s)
	
	&:hover
		text-decoration underline
		
	img
		border 0 !important
		


body
	background-color #fff
	color $Gris
	font-family $FontStack
	font-size 1.4rem
	font-weight $Light
	

button
	background none
	border none
	border-radius 0
	cursor pointer
	
	&:active, &:focus
		outline 0 !important
		outline none !important
	

h1,h2,h3,h4,h5,h6
	text-transform uppercase

input, select, textarea
	border none
	border-radius none
	
	&:focus
		outline 0
		outline none


