//override styles for drupal theming
#user-login
	.form-actions, .checkbox
		display inline-block
		margin 1rem 0
		vertical-align middle
		width 48%
		
		input
			display block
			width 100%
			

	.checkbox
		label
			position initial
			
		input
			margin 0
			left 0
	

.cart-list
	
	.line-item-total
		clear both
		display block
		font-size 1.6rem
		margin 1rem auto
		text-align center
		text-transform uppercase
		
		span
			display inline-block
			width 48%
			vertical-align middle
			
		.line-item-total-label
			text-align left
			
		.line-item-total-raw
			text-align right
			
	.line-item-summary .line-item-quantity
		display none
			
	.line-item-summary-view-cart,
	.line-item-summary-checkout
		a
			background-color #fff
			border 1px solid lighten($Gris, 40%) 
			color $Gris
			display block
			font-size 1.8rem
			margin 0 auto
			max-width 18rem
			padding 0.7rem 1rem
			text-align center
			text-transform uppercase
			width 100%
			
			&:hover
				background-color $Gris
				border-color transparent
				color #fff
				text-decoration none
		
	.views-table
		display block
		max-height 21rem
		overflow-y scroll
		
		tbody
			border none
		tr.odd,
		tr.even
			background-color transparent
			padding 0		
								
			img
				height auto
				max-width 100%
				width 100%
					
			.views-field
				display block
				max-width 100%
				padding 0.5rem
				text-align left
				
			.views-field-line-item-title	
				width 100%
				
			.field-name-commerce-product
				width 5rem
				
			.views-field-edit-delete
				position relative
				
				input
					background-color #fff
					path('remove.svg')
					background-position center
					background-repeat no-repeat
					background-size 100%
					bottom 0.5rem
					color #fff
					cuadrado(1.2rem)
					position absolute
					right @bottom
					overflow hidden
					text-indent -100rem
					transitionBase(0.3s)
					

					&:hover
						opacity 0.5
					
					
				

			.form-submit
				background-color transparent
	

.chosen-container-single
	.chosen-single
		background #fff
		
.cloud-zoom-container
	.bx-wrapper
		max-width 20% !important
		float left

		.bx-viewport
			min-height 53rem !important
			
			a
				display block
		
		.image-style-large
			max-width 11rem

.col-carrito.view-commerce-cart-form
	.col-order,
	.table-carrito
		display inline-block
		vertical-align top
		
	.col-order
		background-color lighten($Gris, 95%)
		padding 1rem
		width 33.2%
		
		.commerce-order-handler-area-order-total .commerce-price-formatted-components
			font-size 1.8rem
			text-transform uppercase
			width 100%
			

		.commerce-price-formatted-components
			tbody
				border none
				
			td
				padding 1rem
				
		.form-submit			
			background-color lighten($Gris, 60%)
			color $Gris
			display block
			font-size 1.3rem
			margin 1rem auto
			max-width 23rem
			padding 0.7rem 1rem
			text-align center
			text-transform uppercase
			transitionBase(0.3s)
			width 100%
			
			&:hover
				background-color $Gris
				color #fff
				text-decoration none
			
	.table-carrito
		width 66.4%
		
		
		.commerce-product-sku,
		.field
			display inline-block
			margin 0 0.8rem
			max-width 35%
			vertical-align top
			
			ul
				list-style-type none
				padding 0
			
			.field-label
				display inline
				font-size 1.4rem
			
		.field-name-field-images
			max-width 10rem
			

		.field-name-field-images			
			img
				height auto
				max-width 100%
				width 100%
		
		.form-item
			margin 0
			text-align center
			
			input
				text-align center
			
		.views-field-edit-delete
			position relative
			
			input.form-submit
				background-color #fff
				path('remove.svg')
				background-position center
				background-repeat no-repeat
				background-size 80%
				bottom 0.5rem
				color #fff
				cuadrado(1.2rem)
				display block
				margin auto
				overflow hidden
				right @bottom
				text-indent -100rem
				transitionBase(0.3s)
				

				&:hover
					opacity 0.5

.container-product
	
	// .cloud-zoom-container
	#wrap
		float right !important
			
	.cloud-zoom-gallery-thumbs
		max-width 20%
		
		a
			display block
			margin-bottom 1rem
	
	.cantidad
		.form-item,
		.form-actions
			margin-bottom 0
			
		input
			text-align center !important
	
	.field-name-commerce-price
		font-size 2.4rem

	.form-type-radio.form-item-attributes-field-color
		display inline-block
		cuadrado(2.4rem)
		overflow hidden
		

		img
			height auto
			max-width 100%
			width 100%

		.ajax-progress
			display none !important
		
		
		.commerce-fancy-attributes-color
			border none !important
			height 2.4rem
			transitionBase(0.3s)
			width 100%
			
		.field-name-field-image
			transitionBase(0.3s)
			


		.description-selected
			.commerce-fancy-attributes-color,
			.field-name-field-image
				border-radius 0.5rem
				transform scale(0.9)
	
	
	.commerce-add-to-cart
		.cantidad
			max-width 30%
			
			input
				text-align center
				width 3rem !important

	.commerce-product-field-field-images
		float left
		width 50%
		
		&::after,
		&::before
			clear both
			content ''
			display table
			

			img
				height auto
				max-width 100%
				width 100%
			

		
				
	.form-type-radios.form-item-attributes-field-top-size
		.ajax-progress
			display none !important
			
	.form-type-radio
		cursor pointer
		display inline-block
		position relative
		vertical-align middle
		max-width 30%
		text-align center

		label
			border 1px solid $Gris
			cuadrado(2.4rem)
			cursor pointer
			display block
			font-size 1.6rem
			text-align center
			transitionBase(0.3s)

		input 
			bottom 0
			left 0
			opacity 0
			position absolute
			right 0
			top 0
			cuadrado(100%)
			z-index -18
			
			&:checked + label
				background-color $Verde
				border-color $Verde
				color #fff
				
			

	.form-submit
		background-color $Gris
		border-radius 0
		color #fff
		display inline-block 
		font-size 2.4rem
		line-height 1
		min-height 4rem
		padding 0.8rem 3rem
		text-align center
		text-transform uppercase
		transitionBase(0.3s)
		
		&:hover
			background-color $Verde
			color #000

	.info-producto
		float right
		width 33.33333333%
		
	
		&::after,
		&::before
			clear both
			content ''
			display table
			


	.service-links
		display none
		
.col-filter
	
	.form-type-bef-link
		font-size 1.4rem
		padding-left 3rem
		
		a
			color $Gris
			display block
			position relative
			
			&::before
				color $Verde
				content '\e014'
				display block	
				font-family $Icons
				left -1.5rem
				opacity 0
				position absolute
				transitionBase(0.3s)
				
			&:hover
				color $Verde
				
				

			&.active
				color $Verde
				&::before
					opacity 1
		
			

	.views-exposed-widget
		border-bottom 1px solid $Gris
		margin-top 0
		padding 0.5rem 0
		font-size 2.4rem
		
			
.field-items
	img
		height auto
		width 100%
		max-width 100%


		
.view-display-products
	.views-row.col-lg-3
		
		h2
			font-size 1.6rem
			

		img
			display block
			height auto
			margin 0 auto
			max-width 100%
			width 100%
			
		.field-items
			padding 0
			list-style-type none
			
			li
				display inline-block
				margin 0 0.5rem
				max-width 2rem
				vertical-align top
