//override styles for drupal theming
.cart-list
	.views-table
		tr.odd,
		tr.even
			background-color transparent
			padding 0
			position relative			
								
				img
					height auto
					max-width 100%
					width 100%
					
			.views-field
				display block
				max-width 100%
				padding 1rem 0.5rem
			.views-field-line-item-title	
				width 15rem
				
			.field-name-commerce-product
				width 5rem
				
			.views-field-edit-delete
				position absolute
				bottom 0.5rem
				left @bottom
	

.chosen-container-single
	.chosen-single
		background #fff

.container-product
	
	.cantidad
		.form-item,
		.form-actions
			margin-bottom 0
			
		input
			text-align center
	
	.field-name-commerce-price
		font-size 2.4rem

	.form-type-radio.form-item-attributes-field-color
		display inline-block
		cuadrado(2.4rem)
		

		.ajax-progress
			display none !important
		
		
		.commerce-fancy-attributes-color
			border none !important
			height 2.4rem
			transitionBase(0.3s)
			width 100%
			
		.field-name-field-image
			transitionBase(0.3s)

		.description-selected
			.commerce-fancy-attributes-color,
			.field-name-field-image
				border-radius 0.5rem
				transform scale(0.9)
	
	.commerce-product-field-field-images
		float left
		width 50%
		
		&::after,
		&::before
			clear both
			content ''
			display table
			

			img
				height auto
				max-width 100%
				width 100%
			

		.cloud-zoom-container
			#wrap
				float right !important
				
			.cloud-zoom-gallery-thumbs
				width 20%
				
				a
					display block
					margin-bottom 1rem
				
	.form-type-radios.form-item-attributes-field-top-size
		.ajax-progress
			display none !important
			
	.form-type-radio
		cursor pointer
		display inline-block
		position relative
		vertical-align middle
		max-width 30%
		text-align center

		label
			border 1px solid $Gris
			cuadrado(2.4rem)
			cursor pointer
			display block
			font-size 1.6rem
			text-align center
			transitionBase(0.3s)

		input 
			bottom 0
			left 0
			opacity 0
			position absolute
			right 0
			top 0
			cuadrado(100%)
			z-index -18
			
			&:checked + label
				background-color $Verde
				color $Gris
				
			

	.form-submit
		background-color $Gris
		border-radius 0
		color #fff
		display inline-block 
		font-size 2.4rem
		line-height 1
		min-height 4rem
		padding 0.8rem 3rem
		text-align center
		text-transform uppercase
		transitionBase(0.3s)
		
		&:hover
			background-color $Verde
			color #000

	.info-producto
		float right
		width 33.33333333%
		
	
		&::after,
		&::before
			clear both
			content ''
			display table
			


	.service-links
		display none
		
.col-filter
	.views-exposed-widget
		border-bottom 1px solid $Gris
		margin-top 0
		padding 0.5rem 0
		font-size 2.4rem
		
	.form-type-bef-link
		font-size 1.4rem
		padding-left 3rem
		
		a
			color $Gris