#contacto,
#checkout,
#registro,
#user-login,
#user-login-page
	margin-bottom 2rem
	
	label
		color $Gris
		cursor pointer
		text-transform uppercase
		transitionBase(0.3s)
		

	select.form-control
		border-radius 0 !important
		padding 0
		
	textarea
		resize none
		height 15rem
		width 100%
		
	.form
		&-control
			background-color transparent
			transitionBase(0.3s)
			position relative
			z-index 2
			
			&:focus
				background-color #fff
				border-color $Verde
				box-shadow none
				

		&-group
			margin 0 0 2rem
			position relative
			
			label
				position absolute
				left 2rem
				top 0.7rem
				z-index 0
						
			&.active
				label
					opacity 0
				
				.form-control
					background-color #fff
					

#checkout
	
	.btn
		max-width 25rem

#descuentos
	margin 1rem 0
	position relative
	
	label
		display block
		left 0.5rem
		position absolute
		text-transform capitalize
		top 0.5rem
		z-index -1
		

	.btn, .form-control
		display inline-block
		vertical-align middle
	
	.btn
		background-color lighten($Gris, 60%)
		color $Gris
		width 40%
		
		&:hover
			background-color #fff
			color #000

	.form-control
		background-color transparent
		height auto
		padding 0.3rem 0.2rem
		width 54%
		
		&:focus
			background-color #fff
			border-color $Gris
			box-shadow none
	
#user-login
	display none
	opacity 0
	transition opacity 0.3s ease-in-out
	

	.btn
		background-color #fff
		border 1px solid $Gris
		color $Gris
		
		&:hover
			background-color $Verde
			border-color transparent
			color #fff
		
	.checkbox, .btn
		display inline-block
		vertical-align middle
		width 48%
		
		
#registro
	.btn
		display block
		margin 1rem auto
		font-size 2.2rem

.mensaje
	&-caso
		background-color transparent
		color $Rojo !important
		font-size 1.3rem
	
	&-sistema
		p
			background-color rgba(0, 0, 0, 0.25)
			border-bottom 1px solid rgba(255, 255, 255, .75)
			border-top @border-bottom
			color $Rojo !important
			font-size 1.6rem !important
			margin 1rem auto !important
			padding 2rem 0.6rem
			max-width 100% !important

.form
	&-control
		border-radius 0
		
		&:focus
			outline 0 !important
			outline none !important