.icon
	background-repeat no-repeat
	background-position center
	background-size 100%
	display inline-block
	margin 0
	vertical-align middle
	padding 0
	
	&-cart
		path('bag.svg')
		height 2.4rem
		width 1.8rem
		
	&-comparar,
	&-love
		cuadrado(100%)

	&-comparar
		path('comparar.svg')
		
	&-love
		path('heart.svg')
	
	&-search
		path('zoom.svg')
		cuadrado(2.2rem)
		
	&-user
		path('user.svg')
		height 2.2rem
		width 2.6rem
		

.share
	background-position center
	background-repeat no-repeat
	background-size contain
	cuadrado(2.1rem)
	display inline-block
	margin 1.5rem 2.5rem
	padding 0
	vertical-align middle

	&-fb
		path('share-fb.svg')
		margin-left 0
		

	&-instagram
		path('share-instagram.svg')
		

	&-pinterest
		path('share-pin.svg')