.row
	margin 0 auto
	max-width $SiteWidth
	position relative
	
	

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left $Gutter
			padding-right $Gutter
			transition width ease-in-out 0.3s