.row
	margin 0 auto
	max-width $SiteWidth
	position relative
	
	&-404
		h1
			border-bottom 2px solid $Verde
			color $Verde
			padding 1rem 0
			

			img
				margin-right 2rem
				


		h2
			margin 1rem auto 3rem
			max-width 58.2rem
			

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left $Gutter
			padding-right $Gutter
			transition width ease-in-out 0.3s