.row
	margin 0 auto
	max-width $SiteWidth
	position relative
	
	&-404
		h1
			border-bottom 2px solid $Verde
			color $Verde
			font-size 2.2rem
			padding 1rem 0
			text-align center
			

			img
				max-width 40% 
				vertical-align bottom
				


		h2
			font-size 2.2rem 
			margin 1rem auto 3rem 
			max-width 35rem 
			text-align justify 
			text-align-last center 

	for x in (1..12)
	
		.col-lg-{x}, .col-md-{x}, .col-sm-{x}, .col-xs-{x}
			padding-left $Gutter
			padding-right $Gutter
			transition width ease-in-out 0.3s