$Amarillo  = #fffd56
$Gris      = #7a7a7a
$Verde     = #14aab3

//Fonts
$FontStack = 'Lato', sans-serif
$Icons     = 'Glyphicons Halflings'

//Font weights
$Bold      = 700
$Light     = 300
$Normal    = 400


//Site grid spacing and width
$Gutter    = 0.5rem
$SiteWidth = 110rem