div#added-cart.modal.fade(tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel")
	div.modal-dialog(role="document")
		div.modal-content
			div.modal-header
				button.close(class="close" data-dismiss="modal" aria-label="Close")
					span(aria-hidden="true") &times;
				
			div.modal-body
				h3.text-center
					| Se ha añadido 
					strong ENTERIZO REVERSIBLE CON ACCESORIOS HECHOS A MANO
					|  al carrito
