//Nib & gradient support
@require 'nib'
//Esto hace que exporte los estilos css3 con soporte para todos los navegadores
vendor-prefixes = o ms webkit moz official

//Variables y funciones, se deben declarar primero que el resto de archivos para poderlos utilizar
@import "modules/variables"
@import "modules/funciones"

//Template
@import "modules/base"
@import "modules/layout"
@import "modules/buttons"
@import "modules/header"
@import "modules/footer"

//UI
@import "modules/menu"
@import "modules/forms"
@import "modules/components"
@import "modules/icons"
@import "modules/slider"
@import "modules/tabs"
@import "modules/tables"


//Utils
@import "modules/utilities"
// @import "modules/animations"
@import "modules/keyframes"
@import "modules/media-queries"
