//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "Medios de Pago";
	title Saha - Tienda en línea

//-Etiqueta Metadescription
block description
	meta(name="description", content="Saha - Tienda en línea" )

block content
	section.container-fluid

		div.row
			div.col-lg-12

				h1 CAMBIOS Y DEVOLUCIONES
				p Queremos que tengas la mejor experiencia de compra con SAHA a través de nuestro portal web, por eso hemos diseñado un proceso de cambios y devoluciones gratuito para compras	superiores a COP$200.000 en Colombia.
				
				p Es importante que tengas en cuenta las siguientes condiciones a la hora de realizar tu devolución:

				ul
					li.
						Se aceptan cambios de mercancía dentro de los primeros 5 días hábiles después de recibido el producto. La solicitud se debe realizar enviando un correo a <a href="mailto:clientes@sahaswimwear.com" target="_blank">clientes@sahaswimwear.com</a>, explicando las razones del cambio
					

					li Las prendas deben ser devueltas en perfecto estado, con el protector higiénico original, las etiquetas y empaques correspondientes, en las mismas condiciones en que se recibieron. Aquellas que no se reciban bajo estos parámetros, no serán aceptadas para cambios y serán devueltas a costo del cliente.

					li Se realizan cambios por prendas que contengan defectos de fábrica o inconvenientes de calidad (En este caso, SAHA asume el costo de devolución y cambio). No serán cambiadas prendas que hayan sido usadas previamente.

					li Cambios por inconformidad serán realizados por prendas de igual o mayor valor. Cambios por tallas no tienen costo adicional.

					li Cada caso estará sujeto a un proceso de evaluación técnica y aprobación de cambio.

				p Una vez efectuada la solicitud de devolución de tu producto SAHA en los términos estipulados, nos pondremos en contacto con la transportadora para que realice la recolección del producto en la dirección que nos indiques. Nuestro equipo de calidad evaluará el cumplimiento de los criterios definidos y se procederá a coordinar la reposición de la prenda, el cambio por color, talla, referencia, o la devolución del dinero según corresponda. Nos pondremos en contacto contigo vía correo electrónico para definir los detalles.
				
				p En caso de no aceptación, te informaremos por correo electrónico las razones por las cuales no procede el cambio o la garantía y devolveremos el producto a la dirección de entrega inicial (este último costo no será asumido por SAHA).
				
				p La devolución del dinero solamente tendrá lugar por garantía o por Derecho de Retracto y se efectuará por medio de una transferencia bancaria entre los cinco días hábiles posteriores a la recepción de la prenda en nuestras bodegas.
				
				p El producto deberá estar debidamente embalado y marcado al momento de entregarlo a la transportadora. Puedes utilizar el mismo empaque en el que recibiste el pedido o utilizar uno diferente, siempre velando porque la prenda esté protegida adecuadamente durante el transporte. 

				h3 Instrucciones de marcación:


				ul
					li
						| Remitente

						ul
							li Tu nombre
							li Tu Cédula o documento de identificación
							li Teléfono
							li Dirección
					
					li
						| Destinatario

						ul
							li MODAMAR S.A.S
							li TEL: 6171598- 2562776
							li CRA 49 #104-16, BARRIO SANTA MARGARITA BOGOTA


				h2 DERECHO DE RETRACTO

				p.
					Conforme a lo estipulado por la Ley 1480 de 2011, para adquisiciones de productos por
					medios electrónicos, tales como internet, y cuyo pago haya sido a su vez realizado mediante
					instrumentos o medios electrónicos, el consumidor tiene derecho a retractarse por su
					compra en los cinco días hábiles posteriores a la ocurrencia de alguna de las causales de
					reversión, a saber: 


				ul
					li Cuando el consumidor sea objeto de fraude.
					li Cuando corresponda a una operación no solicitada.
					li Cuando el producto adquirido no sea recibido.
					li Cuando el producto entregado no corresponda a lo solicitado, no cumpla con las características inherentes o las atribuidas por la información que se suministre sobre él.
					li Cuando el producto entregado se encuentre defectuoso. 


				div.legal

					p El derecho de retracto aplica únicamente para compras realizadas en Colombia y deberá cumplir con lo estipulado en el Artículo 2.2.2.51.4 y .5 del Decreto 587 de 2016: 


					p El consumidor deberá presentar queja ante el proveedor por escrito, de manera verbal o a través de cualquier medio establecido entre las partes para ello, en la cual indique la causal o las causales invocadas para formular a los participantes del proceso de pago la respectiva reversión, sin perjuicio de lo establecido en el artículo siguiente sobre el contenido mínimo de la queja. Esta queja deberá ser presentada dentro los cinco (5) días hábiles siguientes a la fecha en que el consumidor tuvo noticia la operación fraudulenta o no solicitada, o en que debió haber recibido producto o lo recibió defectuoso o sin que correspondiera a lo solicitado.
					

					p Adicionalmente, tratándose de bienes, en la misma oportunidad indicará al proveedor que el bien estará a su disposición para recogerlo en las mismas condiciones y en el mismo lugar en que se recibió, con lo cual se entenderá satisfecha la obligación de devolverlo.
					
					p (…) La queja ante el proveedor del bien o servicio contendrá como mínimo:


					ol
						li Manifestación expresa de las razones que fundamentan la solicitud de reversión del pago.
						li Indicación de la causal que sustenta la petición. que deberá corresponder a alguna o algunas de las señaaladas en artículo 2.2.2.51 del presente Decreto.
						li Valor por el que se solicita la reversión.
						li Identificación de la cuenta bancaria, tarjeta de crédito o instrumento de pago al que fue cargada la operación.

	
				p.
					Para ejercer tu derecho, es indispensable diligenciar completamente el siguiente
					formulario <a href="#">aquí</a>.
					
