//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "Login";
	title Saha - Tienda en línea

//-Etiqueta Metadescription
block description
	meta(name="description", content="Saha - Tienda en línea" )

block content
	section.container-fluid
		h1.divisor Iniciar Sesión
		
		div.row

			//Autenticación
			article.col-lg-4.col-md-4.col-sm-8.col-xs-12.col-lg-offset-4.col-md-offset-4.col-sm-offset-2.col-login

					form#user-login
						//email
						div.form-group
							label(for="email") email
							input.form-control(type="email", id="email", name="email")
						///-email

						//contraseña
						div.form-group
							label(for="pass") contraseña
							input.form-control(type="password", id="pass", name="pass")
						///-contraseña
						div.checkbox
							label(for="recordarme")
								input(type="checkbox", name="recordarme", id="recordarme")
								|Recordarme

						button#submit-login.btn.btn-login(type="submit") login

						a(href="#") ¿Olvidó su contraseña?							

			///-Autenticación


block Scripts
	script(src="js/saha.login.js")

