//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "Nosotros";
	title Saha - Tienda en línea

//-Etiqueta Metadescription
block description
	meta(name="description", content="Saha - Tienda en línea" )

block content
	container.container-fluid

		div.row
			div.col-lg-12
				h1 Nuestra historia
				p Fundados en el corazón de Colombia en 2006, nacimos como una marca de vestidos de baño para una mujer femenina, natural, fresca y equilibrada. Desarrollamos luego una línea de productos que pudieran complementar su estilo de vida en la playa permitiéndole viajar con comodidad a paraísos en diferentes partes del mundo.

				p Somos sinónimos de equilibrio y balance, nuestros fundamentos son brindarle confort al cuerpo femenino y consentirlo con detalles. Diseñamos a partir de siluetas funcionales y limpias, drapeados, estampación en combinaciones inesperadas y sutiles que generan impacto en la prenda y le damos un valor único a algunas piezas con detalles hechos a mano por indígenas de Colombia pertenecientes a nuestra cultura ancestral.

				p Detrás de SAHA hay un propósito mayor, Mónica Echeverri y Carlos Laverde crearon un sueño, fundadores y dueños de la marca creyeron y construyeron un espacio de moda donde pudieran preservar y cultivar nuestras raíces, ayudar al planeta y consentir a las mujeres con prendas que les permitieran mantenerse bien naturalmente encontrando resultados creativos para sus necesidades.


				h2 WEAVING FUTURE

				p La cultura Colombiana se ve reflejada en el trabajo de los artesanos que revelan sus tradiciones a través de las piezas hechas a mano.

				p En SAHA fomentamos esta práctica honrando la identidad de nuestro país apoyando las comunidades vulnerables de Colombia incluyendo su hermoso arte en nuestros diseños.

				p Detrás de cada una de estas piezas hechas a mano hay una mujer trabajando para rehacer su vida y dejar el pasado atrás.

				p.text-center GRACIAS POR HACER PARTE DE ESTA UNION DE CULTURAS
