//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "Privacidad";
	title Saha - Tienda en línea

//-Etiqueta Metadescription
block description
	meta(name="description", content="Saha - Tienda en línea" )

block content
	container.container-fluid

		div.row
			div.col-lg-12
				h1 política de privacidad
				p El uso del sitio Web implica la expresa y plena aceptación de las condiciones aquí expuestas, sin perjuicio de aquellas particulares que pudieran aplicarse a algunos de los servicios concretos ofrecidos a través del sitio Web.

				h2 Links
				p Los enlaces contenidos en este sitio Web pueden dirigir a contenidos Web de terceros. Modamar S.A.S no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en ningún caso implican relación alguna entre Modamar S.A.S y a las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren.

				h2 Confidencialidad
				p Cualquier dato e información que sea enviado a Modamar S.A.S será tratado con absoluta confidencialidad y reserva. Sólo en el caso de que las Fuerzas y Cuerpos de Seguridad del Estado, requieran el acceso a esa información, en los estrictos términos de la legislación vigente y todos aquellos otros supuestos legalmente establecidos, le será proporcionada conforme a lo que exige la Ley.

				p Modamar S.A.S no utilizará en beneficio propio o de terceros, cualquier información que le sea proporcionada, o una reproducción parcial o total de la misma por cualquier medio.

				h2 Protección de Datos
				p De acuerdo a lo previsto por la Ley 1581 de 2012 y por el Decreto 1377 de 2013; Modamar S.A.S con su marca comercial SAHA informa a sus clientes y usuarios que la información que registren en el portal www.sahaswimwear.com, es recolectada con autorización previa, expresa e informada. Estos datos serán almacenados en bases de datos regidas por políticas de seguridad y confidencialidad; y serán también utilizados para envíos de comunicados, promociones, ofertas, eventos u otros fines publicitarios.   Como cliente puede conocer y acceder de manera gratuita a los datos personales que se encuentran bajo nuestro control y a ejercer los derechos que les asisten como titular de los mismos de acuerdo con lo previsto en la Ley 1581 de 2012.   Los datos personales de los usuarios de este sitio podrán ser editados cuando el cliente así lo requiera, así mismo el usuario podrá solicitar la rectificación, cancelación y oposición al tratamiento de sus datos personales de forma escrita o a través del correo clientes@sahaswimwear.com.   De igual manera si el usuario no desea recibir más información por parte de Modamar lo puede solicitar por cualquiera de los medios mencionados anteriormente. Cualquier inquietud relacionada con el tratamiento de sus datos personales puede comunicarse con nosotros a la línea de servicio al cliente en Bogotá 6171598 Ext. 110. El usuario podrá presentar sus quejas o reclamaciones por transgresiones o incumplimientos a lo dispuesto en la presente ley, contemplando modificaciones, adiciones o ampliaciones que surjan, a la Superintendencia de Industria y Comercio.

				p Adicionalmente y de conformidad con el artículo 10 del Decreto 1377 de 2013, solicitamos a nuestros clientes su autorización para que Modamar S.A.S con su marca comercial SAHA continúe realizando el tratamiento de sus datos de conformidad con la política de tratamiento de datos que podrá ser consultada en las páginas web www.sahaswimwear.com   Si en el término de treinta (30) días hábiles contados a partir de ésta comunicación, no hemos recibido de parte suya solicitud en el sentido de suprimir sus datos; la organización podrá continuar realizando el tratamiento de sus datos de conformidad con la política de tratamiento de datos y lo enunciado en el presente correo. La solicitud de supresión de datos se podrá efectuar al correo electrónico clientes@sahaswimwear.com
