//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "Privacidad";
	title Saha - Tienda en línea

//-Etiqueta Metadescription
block description
	meta(name="description", content="Saha - Tienda en línea" )

block content
	container.container-fluid

		div.row
			div.col-lg-12
				h1 política para el manejo, administración y tratamiento de datos personales modamar s.a.s.

				h2 1. PROPÓSITO:
				p.
					En cumplimiento de la Ley 1581 de 2012 y el Decreto 1377 de 2013 y demás normas que modifiquen o adicionen el régimen de protección de datos personales, MODAMAR S.A.S, en condición de responsable de manejo de información personal, avala mediante el establecimiento de la presente política el estricto cumplimiento de la normatividad,	garantizando permanentemente los derechos de los Titulares.
				
				p.
					Por la importancia de la presente política, invitamos a nuestros clientes, proveedores, empleados y usuarios a leerla en su totalidad.

				p.
					El uso del sitio Web implica la expresa y plena aceptación de las condiciones aquí expuestas, sin perjuicio de aquellas particulares que pudieran aplicarse a algunos de los servicios concretos ofrecidos a través del sitio Web.

				h2 2. RESPONSABLE:

				ul

					li Razón social: MODAMAS S.A.S
					li Dirección: Cra 49 No. 104-16
					li Ciudad: Bogotá
					li
						|Correo electrónico: 
						a(href="mailto:clientes@sahaswimwear.com" target="_blank") clientes@sahaswimwear.com
					li Teléfono: +57(1) 6171598 ext114
					li Área encargada: Comercial


				h2 3. DEFINICIONES:
				p.
					Para efectos de la presente política, las definiciones a continuación tendrán el siguiente significado conforme a la normatividad:

				ol(style="list-style-type:lower-alpha")

					li
						strong Autorización: 
						| Consentimiento previo, expreso e informado del Titular para llevar a cabo el Tratamiento de datos personales.
					li
						strong Aviso de privacidad: 
						| Comunicación verbal o escrita generada por el Responsable, dirigida al Titular para el Tratamiento de sus datos personales, mediante la cual se le informa acerca de la existencia de las políticas de Tratamiento de información que	le serán aplicables, la forma de acceder a las mismas y las finalidades del	Tratamiento que se pretende dar a los datos personales.
					
					li
						strong Base de Datos: 
						| Conjunto organizado de datos personales que sea objeto de	Tratamiento.
					
					li
						strong Dato personal: 
						| Cualquier información vinculada o que pueda asociarse a una o varias personas naturales determinadas o determinables.

					li
						strong Dato público: 
						| Es el dato que no sea semiprivado, privado o sensible. Son considerados datos públicos, entre otros, los datos relativos al estado civil de las personas, a su profesión u oficio y a su calidad de comerciante o de servidor público. Por su naturaleza, los datos públicos pueden estar contenidos, entre otros, en registros públicos, documentos públicos, gacetas y boletines oficiales y sentencias judiciales debidamente ejecutoriadas que no estén sometidas a reserva.

					li
						strong Datos sensibles: 
						| Se entiende por datos sensibles aquellos que afectan la intimidad	del Titular o cuyo uso indebido puede generar su discriminación, tales como	aquellos que revelen el origen racial o étnico, la orientación política, las convicciones religiosas o filosóficas, la pertenencia a sindicatos, organizaciones	sociales, de derechos humanos o que promueva intereses de cualquier partido	político o que garanticen los derechos y garantías de partidos políticos de oposición, así como los datos relativos a la salud, a la vida sexual, y los datos biométricos.

					li
						strong Encargado del Tratamiento: 
						| Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, realice el Tratamiento de datos personales por cuenta del Responsable del Tratamiento.
					li
						strong Responsable del Tratamiento: 
						| Persona natural o jurídica, pública o privada, que por sí misma o en asocio con otros, decida sobre la base de datos y/o el Tratamiento de los datos;
					li
						strong Titular: 
						| Persona natural cuyos datos personales sean objeto de Tratamiento.
					li
						strong Transferencia: 
						| La transferencia de datos tiene lugar cuando el Responsable y/o Encargado del Tratamiento de datos personales, ubicado en Colombia, envía la información o los datos personales a un receptor, que a su vez es Responsable del Tratamiento y se encuentra dentro o fuera del país.
					li 
						strong Transmisión: 
						| Tratamiento de datos personales que implica la comunicación de los mismos dentro o fuera del territorio de la República de Colombia cuando tenga por objeto la realización de un Tratamiento por el Encargado por cuenta del Responsable.
					li
						strong Tratamiento: 
						| Cualquier operación o conjunto de operaciones sobre datos personales, tales como la recolección, almacenamiento, uso, circulación o supresión. 

				h2 4. VIGENCIA DE LA POLÍTICA:
				p.
					La presente Política entra en vigencia el 1 de noviembre de 2016

				h2 5. TRATAMIENTO AL CUAL SERÁN SOMETIDOS LOS DATOS PERSONALES:
				
				p.
					En ejercicio de su objeto social, MODAMAR S.A.S., realiza el tratamiento de datos personales de sus empleados, contratistas, proveedores, clientes y usuarios de sus productos.
				
				p.
					En desarrollo de los principios de finalidad y libertad, la recolección de datos personales por parte de MODAMAR S.A.S. se limitará a aquellos datos personales que son pertinentes y adecuados para la finalidad para lo cual son recolectados o requeridos conforme a la normatividad vigente excepto los casos formalmente previstos en la Ley, MODAMAR S.A.S. no podrá recolectar datos personales sin autorización del Titular, y no se recolectarán ni se almacenarán datos de niños, niñas y adolescentes.

				p.
					MODAMAR S.A.S., tiene la obligación de mantener la confidencialidad de los datos personales objeto de tratamiento y solo podrá divulgarlos por orden judicial o, requerimiento de entes de control facultados para tal fin y permitirá en todo momento y de manera gratuita al Titular conocer, actualizar, corregir o suprimir su información personal de conformidad con el artículo 8 de la Ley 1581 de 2012.

				p.
					Con base en lo establecido por la Ley, el Tratamiento de datos incluye su recolección, almacenamiento, gestión, administración, uso, transferencia, transmisión y supresión y es realizado para el desarrollo del objeto social de MODAMAR S.A.S.. En cada caso su finalidad específica se ilustra a continuación:

				ol(style="list-style-type:lower-alpha")

					li Tratamiento de datos personales de empleados y ex empleados: Se realiza para dar cumplimiento a las obligaciones laborales a cargo de MODAMAR S.A.S., tales como pagos de nómina, pagos y reportes al Sistema General de Seguridad Social en salud, atención de consultas, peticiones, solicitudes, acciones y/o reclamos, presentados por el Titular de la información o por sus legitimarios, o por entidades de Sistema General de Seguridad Social en salud a los que el Titular esté o hubiere estado vinculado. La supresión de los datos personales no aplica para empleados y ex empleados, en cumplimiento del régimen laboral legal y contractual.


					li Tratamiento de datos personales de contratistas que presten o hayan prestado servicios a favor de MODAMAR S.A.S.: El tratamiento se faculta en concordancia con las obligaciones contractuales definidas por las partes tales como asignación y control de elementos tecnológicos, materiales, equipos, identificación de ingreso, seguimiento a cumplimiento de obligaciones a cargo de contratistas, atención y respuesta de posibles emergencias, consultas, peticiones, solicitudes, acciones y/o reclamos hechas por el Titular de la información o por sus legitimarios.


					li Tratamiento de datos personales de proveedores – personas naturales y jurídicas: Dar lugar al debido cumplimiento de las obligaciones contractuales a cargo de MODAMAR S.A.S. tales como pagos de honorarios, reportes de pagos, reportes o transmisión de información exigidas por ley o por políticas internas , atención y respuesta a consultas, peticiones, solicitudes, acciones y/o reclamos hechas por el Titular de la información o por sus legitimarios.
					
					li Tratamiento de datos personales de clientes – personas naturales y jurídicas y distribuidores: Dando lugar al desarrollo del objeto social de la compañía y al debido cumplimiento de las obligaciones contractuales a su cargo, MODAMAR S.A.S., gestiona a favor de sus clientes operaciones tales como facturación, reportes de pagos o interacciones que por ley o por políticas internas debe realizar; divulgación de información comercial, tarifas, promociones, información y lanzamiento de nuevos productos, actividades de interés específico, transmisión de información de interés relacionado,  atención de consultas, peticiones, solicitudes, acciones y reclamos, hechas por el Titular de la información o por legitimarios.

					li Usuarios de productos: El tratamiento de estos datos personales permite a MODAMAR S.A.S., cumplir con las obligaciones a su cargo en materia de calidad de los productos, para la atención efectiva de consultas, peticiones, solicitudes, acciones y reclamos de consumidores y como información de mercadeo y estadística.

				h2 6. DERECHOS DE LOS TITULARES:
				p Los Titulares de los datos personales tienen los siguientes derechos:

				ol(style="list-style-type:lower-alpha")

					li Conocer, actualizar y rectificar sus datos personales frente a los responsables o encargados del tratamiento. Este derecho se podrá ejercer, entre otros frente a datos parciales, inexactos, incompletos, fraccionados, que induzcan a error, o aquellos cuyo tratamiento esté expresamente prohibido o no haya sido autorizado.
					
					li Solicitar prueba de autorización otorgada al responsable de tratamiento, salvo cuando expresamente se exceptúe como requisito para el tratamiento, de conformidad con lo previsto en el artículo 10 de la Ley 1581 de 2012.
					
					li Ser informado por el responsable o encargado del tratamiento, previa solicitud, respecto del uso que le ha dado a sus datos personales.
					
					li Presentar ante la Superintendencia de Industria y Comercio quejas por infracciones a lo dispuesto en la presente Política y las normas que la regulan.
					
					li Revocar la autorización de manera voluntaria y/o solicitar la supresión del dato cuando en el tratamiento no se respeten los principios, derechos y garantías constitucionales y legales. La revocatoria y/o supresión procederá cuando la Superintendencia de Industria y Comercio haya determinado que en el tratamiento el responsable o encargado han incurrido en conductas contrarias a la Constitución y la Ley.
					
					li Acceder en forma gratuita a sus datos personales que hayan sido objeto de tratamiento.


				h2 PROCEDIMIENTO PARA EJERCICIO DE DERECHO POR PARTE DE LOS TITULARES:
				
				p.
					Los titulares de datos personales deben dirigir sus consultas, peticiones o reclamos al correo: clientes@sahaswimwear.com, o puede comunicarse con nosotros a la línea de servicio al cliente en Bogotá 6171598 Ext. 114.
				p.
					Los datos personales de los usuarios de este sitio podrán ser editados cuando el cliente así lo requiera, así mismo el usuario podrá solicitar la rectificación, cancelación y oposición al  tratamiento de sus datos personales de forma escrita o a través del correo clientes@sahaswimwear.com. De igual manera si el usuario no desea recibir más información por parte de Modamar lo puede solicitar por cualquiera de los medios mencionados anteriormente. Cualquier inquietud relacionada con el tratamiento de sus datos personales puede comunicarse con nosotros a la línea de servicio al cliente en Bogotá 6171598 Ext. 114. El usuario podrá presentar sus quejas o reclamaciones por transgresiones o incumplimientos a lo dispuesto en la presente ley, contemplando modificaciones, adiciones o ampliaciones que surjan, a la Superintendencia de Industria y Comercio.

				p.
					No obstante lo anterior, los datos personales deberán ser conservados cuando así se requiera para el cumplimiento de una obligación legal o contractual.

				h2 8. LINKS
				
				p.
					Los enlaces contenidos en este sitio Web pueden dirigir a contenidos Web de terceros. MODAMAR S.A.S.no asume ninguna responsabilidad por el contenido, informaciones o servicios que pudieran aparecer en dichos sitios, que tendrán exclusivamente carácter informativo y que en ningún caso implican relación alguna entre MODAMAR S.A.S. y a las personas o entidades titulares de tales contenidos o titulares de los sitios donde se encuentren.

				h2 9. LIMITACIONES TEMPORALES AL TRATAMIENTO DE LOS DATOS PERSONALES:
				
				p.
					MODAMAR S.A.S., solo podrá realizar el tratamiento de datos personales durante el tiempo que sea razonable y necesario, de acuerdo con las finalidades que justificaron el tratamiento, atendiendo a las disposiciones aplicables a la materia de que se trate y a los aspectos administrativos, contables, fiscales, jurídicos e históricos de la información. Una vez cumplidas las finalidades del tratamiento o vencido el plazo máximo legal MODAMAR S.A.S., o el encargado del tratamiento procederán a la supresión de los datos personales en su posesión.
				
				p.
					<strong>Contacto:</strong> Para conocer lo relacionado con la política MODAMAR S.A.S., de protección de datos, podrá comunicarse a clientes@sahaswimwear.com, o puede comunicarse con nosotros a la línea de servicio al cliente en Bogotá 6171598 Ext. 114. 
