//-Layout Base
extends ../templates/base.pug

//-Etiqueta Title
block title
	-var titulo = "Privacidad";
	title Saha - Tienda en línea

//-Etiqueta Metadescription
block description
	meta(name="description", content="Saha - Tienda en línea" )

block content
	container.container-fluid

		div.row
			div.col-lg-12
				h1 términos y condiciones
				
				h2 Capacidad legal
				p Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad y los menores de edad. Los actos que éstos realicen en este sitio serán responsabilidad de sus padres, tutores, encargados o curadores, y por tanto se considerarán realizados por éstos en ejercicio de la representación legal con la que cuentan. Quien registre un Usuario como empresa, deberá tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en los términos de este Acuerdo.

				h2 Propiedad de la información
				p Todos los elementos que forman el sitio Web, así como su estructura, diseño y código fuente de la misma, son titularidad de Modamar S.A.S y están protegidos por la normativa de propiedad intelectual e industrial.

				p Se prohíbe la reproducción total o parcial de los contenidos de este sitio Web, así como su modificación y/o distribución sin citar su origen o solicitar previamente autorización.

				p Modamar S.A.S no asumirá ninguna responsabilidad derivada del uso por terceros del contenido del sitio Web y podrá ejercitar todas las acciones civiles o penales que le correspondan en caso de infracción de estos derechos por parte del usuario.
